* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

[v-cloak] {
  display: none !important; }

html {
  background: #0d1021;
  color: #eee; }

.celebrity-photo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
  .celebrity-photo img {
    height: 100%; }

figcaption {
  position: fixed;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em; }
  figcaption h1 {
    text-align: center;
    margin-bottom: 1em; }
    figcaption h1 .medium-text {
      font-family: "Open Sans", sans-serif;
      font-size: 2.8vw;
      font-weight: 400;
      margin-bottom: 0.35em; }
    figcaption h1 .big-text {
      font-family: "Limelight", cursive;
      color: #ee2a2a;
      text-transform: uppercase;
      font-size: 4vw;
      line-height: 90%; }
  figcaption h2 {
    font-size: 2.25vw;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 300;
    font-style: italic; }
  figcaption form {
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    figcaption form input {
      display: block;
      width: 100%;
      font-size: 1.75vw;
      padding: 0.15em 0.5em;
      font-family: "Open Sans", sans-serif; }
    figcaption form button {
      background: #ee2a2a;
      color: #eee;
      border: none;
      font-size: 1.75vw;
      padding: 0.15em 0.5em;
      display: block;
      margin-left: auto;
      cursor: pointer;
      font-family: "Limelight", cursive; }

.feedback {
  text-align: center; }
  .feedback h1 {
    font-size: 4vw;
    font-family: "Limelight", cursive; }
    .feedback h1.correct {
      color: #3ede2e; }
    .feedback h1.close {
      color: #e9eab9; }
    .feedback h1.wrong {
      color: #ee2a2a; }
  .feedback p {
    font-size: 1.65vw; }
  .feedback .button-holder {
    padding-top: 3em; }
    .feedback .button-holder button {
      font-size: 2em;
      padding: 0.25em 1em;
      font-family: "Limelight", cursive;
      cursor: pointer; }
