* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

[v-cloak] {
  display: none !important; }

html {
  background: #0d1021;
  color: #eee; }

.screen > figure {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.button-holder {
  text-align: center; }

figcaption {
  position: fixed;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  font-family: "Merriweather", serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em; }
  figcaption p {
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 0.75em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
    text-align: center; }
  figcaption h1 {
    text-align: center;
    margin-bottom: 3vh; }
    figcaption h1 .medium-text {
      font-family: "Merriweather", serif;
      font-size: 2.8vw;
      font-weight: 400;
      margin-bottom: 0.35em; }
    figcaption h1 .big-text {
      font-family: "Limelight", cursive;
      font-size: 4vw;
      line-height: 90%;
      text-transform: uppercase; }
  figcaption .question form {
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    figcaption .question form label {
      font-size: 2.25vw;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 300;
      font-style: italic;
      display: block; }
    figcaption .question form input {
      display: block;
      width: 100%;
      font-size: 1.75vw;
      padding: 0.3em 0.5em;
      font-family: "Merriweather", serif; }
    figcaption .question form button {
      background: #ee2a2a;
      color: #eee;
      border: none;
      font-size: 1.75vw;
      padding: 0.15em 0.5em;
      display: block;
      margin-left: auto;
      cursor: pointer;
      font-family: "Limelight", cursive;
      -webkit-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }
      figcaption .question form button[disabled] {
        opacity: 0; }

.impersonator-website {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0; }
  .impersonator-website .button {
    background: #e9eab9;
    padding: 0.5em 1em;
    font-size: 14px;
    color: #0d1021;
    text-decoration: none;
    border: 1px solid #0d1021; }
    .impersonator-website .button:hover {
      background: #212121;
      color: #e9eab9; }

.feedback {
  text-align: center; }
  .feedback h2 {
    font-size: 4vw;
    font-family: "Limelight", cursive;
    margin-bottom: 0.35em; }
  .feedback p {
    margin-bottom: 1em;
    display: block;
    max-width: 36em;
    text-align: center;
    font-size: 18px;
    line-height: 160%; }
  .feedback .button-holder {
    padding-top: 3em; }
    .feedback .button-holder button {
      font-size: 1.5em;
      padding: 0.25em 1em;
      font-family: "Limelight", cursive;
      cursor: pointer; }
      .feedback .button-holder button:hover, .feedback .button-holder button:focus {
        background: #155bd4;
        color: #eee; }

.special-screen .special-feedback h1 {
  font-size: 3vw;
  text-transform: uppercase;
  color: #e4dfbf; }

.special-screen .special-feedback h2 {
  font-size: 3.5vw;
  text-align: center; }

.special-screen .special-feedback p {
  margin-bottom: 2em; }

.special-screen .special-feedback button {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background: #cdfe37;
  border: none; }
  .special-screen .special-feedback button span {
    font-size: 3vw;
    font-weight: 900;
    font-family: "Merriweather", serif;
    color: #052e23;
    display: block;
    padding: 0.1em 0.35em; }

.special-screen > figure {
  background-size: cover; }

.special-screen .game-over {
  font-size: 3.2vw;
  color: #e84040; }

.correct {
  color: #3ede2e; }

.close {
  color: #e9eab9; }

.wrong {
  color: #ee2a2a; }

.veryGood {
  color: #21f90c; }

.prettyGood {
  color: #a8cd7d; }

.neutral {
  color: #e4dfbf; }

.prettyBad {
  color: #e8a657; }

.veryBad {
  color: #e84040; }

.debug {
  position: fixed;
  top: 0;
  right: 50%;
  left: 0;
  background: white;
  color: black;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding-left: 54px;
  padding-bottom: 6px; }
  .debug .boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .debug .box {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center; }
    .debug .box span {
      display: block; }
      .debug .box span.data {
        font-size: 160%;
        line-height: 80%; }

.debug-toggle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 13px 7px;
  z-index: 99;
  border: none;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 1em; }
  .debug-toggle.on {
    background: green; }
  .debug-toggle.off {
    background: red; }
  .debug-toggle:hover {
    background: black;
    color: white; }
