//GLOBALS, GET DEFAULTS
@import "globals/_reset";
@import "globals/_variables";
@import "globals/_mixins";
@import "globals/_extends";
@import "globals/_z-index";

// SITE SPECIFIC
@import "partials/_variables";
@import "partials/_extends";




html { background-image:url('/img/csi.jpg'); background-size:cover; background-position: center; }
input[type="file"] { font-size: 3em;

  position: fixed;
  
  bottom: 60px;
  
  left: 29%;
  
  background: black;
  
  color: lime;
  
  padding: 1em;}

  img { position: fixed;
    left: calc(50% - 200px);
    top: 20%; }

    button { background:black; color:lime; font-family:sans-serif; font-size:2.7em; border:0.05em solid currentcolor; padding:0.5em 1.5em; text-transform: uppercase;
      &.zoom-in { position:fixed; bottom:60px; left:20%; }
      &.enhance { position:fixed; bottom:60px; right:20%; }
    }



