<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>impersonators</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="last-modified" content="2018-05-12@23:50:50">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Limelight|Open+Sans:300,300i,400,600">
    <link href="css/impersonators.css?lastUpdated=2018-05-12@23:50:50" rel="stylesheet">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@AhoyLemon">
    <meta name="twitter:title" content="impersonators">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="/img/og-wide.jpg">
    <meta name="twitter:url" content="">
    <!-- OpenGraph-->
    <meta property="og:title" content="impersonators">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="/img/og-wide.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
    <meta property="og:email" content="lemon@thefpl.us">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00a300">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <main id="app">
      <figure class="celebrity-photo" :style=" { backgroundImage: 'url('+current.pic+')' } "></figure>
      <figcaption>
        <div class="inner question" v-if="phase == 'question'">
          <div class="status">
            <h1 v-if="my.round &lt; 1">
              <div class="medium-text">You're at a party of </div>
              <div class="big-text">CELEBRITY IMPERSONATORS</div>
            </h1>
            <h1 v-else-if="my.round &lt; 3">
              <div class="medium-text">You're getting to</div>
              <div class="big-text">know people</div>
            </h1>
            <h1 v-else-if="my.round &lt; 6">
              <div class="medium-text">People at this party think</div>
              <div class="big-text">{{peopleThink}}</div>
            </h1>
          </div>
          <div class="question-wrapper">
            <h2>Who is this supposed to be?</h2>
            <form @submit.prevent="checkName()" :disabled="guess.length &lt; 4">
              <input type="text" v-model="guess" placeholder="Type your guess here" v-focus>
              <button type="submit" :disabled="guess.length &lt; 4">Guess!</button>
            </form>
          </div>
        </div>
        <div class="inner feedback" v-if="phase == 'answer'">
          <div class="correct-answer" v-if="answer == 'correct'">
            <h1 class="correct">Great guess!</h1>
            <p>The <span class="name" v-text="current.name"></span> impersonator brings you a drink and you chat for a couple minutes about The Philadelphia Eagles.</p>
          </div>
          <div class="close-answer" v-if="answer == 'close'">
            <h1 class="close">Close enough!</h1>
            <p>It's actually <i class="name" v-text="current.name"></i>, but <span v-text="he"></span> doesn't notice your mispronunciation.</p>
          </div>
          <div class="wrong-answer" v-if="answer == 'wrong'">
            <h1 class="wrong">No!!!</h1>
            <p>The <span class="name" v-text="current.name"></span> impersonator looks visably annoyed that you thought {{he}} was {{guess}}. You apologize profusely and {{he}} seems somewhat placated.</p>
          </div>
          <div class="button-holder">
            <button class="keep-mingling" @click="nextRound()" v-focus>Keep Mingling</button>
          </div>
        </div>
      </figcaption>
    </main>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/string_score/0.1.10/string_score.min.js"></script>
      <script src="js/min/actors.min.js"></script>
    </div>
  </body>
</html>