[v-cloak] { display: none !important; }

//main { background:yellow; }
html { background:$body; color:$white; }

.screen {
  > figure { background-size:contain; background-repeat: no-repeat;  }
}

figcaption { font-family: $font; @include flex-center(); padding-left: 2em; padding-right:2em;

  p { line-height:$lineHeight; margin-bottom: 0.75em; display: block; margin-left: auto; margin-right: auto; max-width: 36em; }

  h1 { text-align: center; margin-bottom: 3vh;
    .medium-text { font-family: $font; font-weight: $medium; margin-bottom: 0.35em; }
    .big-text { font-family:$headline; line-height: 90%; text-transform: uppercase; }
  }

  .question { 
    form { display: block;
      label  { margin-top: 1em; margin-bottom: 1em; font-weight: 300; font-style: italic; display:block; }
      input { display: block; width:100%; padding: 0.3em 0.5em; font-family: $font; }
      button { display: block; transition:opacity 0.3s linear; @extend %button; opacity: 1;
        &:disabled { opacity: 0; }
      }
    }
  }
}

.impersonator-website {
  .button { @extend %button; text-transform: none; background: $white; color:darken($buttonColor, 25%); border:1px solid darken($buttonColor, 15%);
    &:hover { background:$buttonColor; color:$yellow; }
  }
}


.feedback {
  h2 { font-family: $headline; margin-bottom: 0.35em; }
  p { margin-bottom: 1em; display: block; max-width: 36em; line-height:$lineHeight; }
  button { @extend %button; }
}


.special-screen {
  .special-feedback {
    h1 { text-transform: uppercase; color:$neutral; }
    h2 { text-align: center; }
    p { margin-bottom: 2em; }
    button { @extend %button; background:#b0ee9a; border-color: #b0ee9a;
      span { font-size:150%; font-weight: $bold; color:darken($black,7%); padding-left: 0.5em; padding-right:0.5em;  }
    }
  }

  > figure { background-size:cover; }

  &.cheese {
    figure { background-position: center bottom; }
  }

  .game-over { font-size:3.2vw; color:$veryBad; }
}

.correct { color: $correct; }
.close   { color: $yellow; }
.wrong   { color: $red; }
.veryGood   { color: $veryGood; }
.prettyGood { color: $prettyGood; }
.neutral    { color: $neutral; }
.prettyBad  { color: $prettyBad; }
.veryBad  { color: $veryBad; }


@media screen and (max-width:$mobile-max) {
  .screen {
    > figure { @include position(fixed,0,0,50%,0); }
    figcaption { @include position(fixed,50%,0,0,0); overflow-x: hidden; align-items: flex-start; padding-top: 1em; padding-bottom: 1.5em;
      .medium-text { font-size:16px; }
      .big-text { font-size:8.8vw; }
      p { font-size:14px; }
      .danger-zone-paragraph { @include position(fixed,null,0,0,0); background:$veryBad; margin: 0; color:darken($black,20%); padding: 0.25em 1em; text-align: center; font-size:3vw; font-weight: $bold; }


      .question { @include flex-container();
        > * { @include flex-item(100%); }
        .question-wrapper { order: 1;
          label { margin-top: 0; margin-bottom: 0.25em; padding-left: 0.5em; }
          button { padding-left: 1em; padding-right: 1em; margin-bottom: 1em; font-size:16px; }
        }
        .mood-feedback, .cheese-feedback { order:2; }
      }
      
      .feedback {
        h2 { font-size:9vw; text-align: center; }
      }

    }
    .impersonator-website { @include position(absolute,null,0,0,0); text-align: center;
      .button { font-size:12px; }
    }
  }

  .special-screen {
    h1 { font-size:9vw; }
    h2 { font-size:7vw; }
    p { font-size:14px; }
    button {
      span { font-size:18px; }
    }
  }

}

@media screen and (min-width:$desktop-min) {
  .screen {
    > figure { @include position(fixed,0,0,0,50%); background-position: center right; }
    figcaption { @include position(fixed,0,50%,0,0);
      .medium-text { font-size:2.8vw; }
      .big-text { font-size:4vw; }
      h1 { text-align: center; }
      h2 { text-align: center; }
      p { font-size:18px; }
      form { width:33vw; margin-left: auto; margin-right: auto; 
        label { font-size:1.75vw; margin-bottom: 0.1em; padding-left: 0.5em; }
        input { font-size:1.75vw; }
        button { font-size:1.75vw; margin-left: auto; display: block; }
      }

      .feedback {
        h2 { font-size: 4vw; }
        .button-holder { padding-top: 3em; }
        button { font-size:1.5em; }
      }

    }

    .impersonator-website { @include position(absolute,null,0,2rem,0); }
  }

  .special-screen {
    h1 { font-size:3vw; }
    h2 { font-size:3.5vw; }
    button { display: block; text-align: center; margin-left: auto; margin-right: auto; font-size:22px; }
  }

  .button-holder { text-align: center; }
}