[v-cloak] { display: none !important; }

//main { background:yellow; }
html { background:#0d1021; color:$white; }
.celebrity-photo { @include position(fixed,0,0,0,50%); text-align: center; background-size:contain; background-position: center; background-repeat: no-repeat;
  img { height: 100%; }
}

figcaption { @include position(fixed,0,50%,0,0); font-family: $font; @include flex-center(); padding-left: 2em; padding-right:2em;


  .question {
    h1 { text-align: center; margin-bottom: 1em;
      .medium-text { font-family: $font; font-size:2.8vw; font-weight: 400; margin-bottom: 0.35em; }
      .big-text { font-family:$headline; color:$red; font-size:4vw; line-height: 90%; }
    }
  
    form { width:33vw; margin-left: auto; margin-right: auto; display: block;
      label  { font-size:2.25vw; text-align: center; margin-top: 1em; margin-bottom: 1em; font-weight: 300; font-style: italic; display:block;  }
      input { display: block; width:100%; font-size:1.75vw; padding: 0.15em 0.5em; font-family: $font; }
      button { background: $red; color:$white; border:none; font-size:1.75vw; padding: 0.15em 0.5em; display: block; margin-left: auto; cursor: pointer; font-family: $headline; transition:opacity 0.3s linear;
        &[disabled] { opacity: 0; }
      }
    }
  }
  
}

.feedback { text-align: center; 
  h2 { font-size: 4vw; font-family: $headline; margin-bottom: 0.35em;
    &.correct { color: $correct; }
    &.close   { color: $yellow; }
    &.wrong   { color: $red; }
  }
  p { font-size:20px; margin-bottom: 0.75em; display: block; max-width: 36em; text-align: center; }

  .button-holder { padding-top: 3em;
    button { font-size:1.5em; padding:0.25em 1em; font-family:$headline; cursor: pointer;
      &:hover, &:focus { background:darken($blue,15%); color:$white; }
    }
  }

}

.mood-feedback {
  &.veryGood   { color: $veryGood; }
  &.prettyGood { color: $prettyGood; }
  &.neutral    { color: $neutral; }
  &.prettyBad  { color: $prettyBad; }
  &.veryBad  { color: $veryBad; }
}


@media screen and (max-width:$mobile-max) {

}

@media screen and (max-width:$desktop-min) {
  
}