[v-cloak] { display: none !important; }

//main { background:yellow; }
html { background:#0d1021; color:$white; }
.celebrity-photo { @include position(fixed,0,0,0,50%); text-align: center; background-size:contain; background-position: center; background-repeat: no-repeat;
  img { height: 100%; }
}

figcaption { @include position(fixed,0,50%,0,0); font-family: $font; @include flex-center();

  h1 { font-size:3.5vw; text-align: center; margin-bottom: 1em; }
  h2 { font-size:2.25vw; text-align: center; margin-bottom: 1em;  }
  form { width:33vw; margin-left:auto; margin-right: auto; display: block;
    input { display: block; width:100%; font-size:2.25vw; padding: 0.15em 0.5em;  }
    button { background: $red; color:$white; border:none; font-size:1.75vw; padding: 0.15em 0.5em; display: block; margin-left: auto; cursor: pointer; }
  }

}


@media screen and (max-width:$mobile-max) {

}

@media screen and (max-width:$desktop-min) {
  
}