- var testing = false
- var siteTitle = "impersonators"
- var siteURL = ""
- var fPlusURL = false
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body

    main#app

      if testing == true
        include partials/_debug.pug

      figure.celebrity-photo(:style=" { backgroundImage: 'url('+current.pic+')' } ")
        //-img(:src="current.pic")
      figcaption

        .inner.question(v-if="phase == 'question'")
          .status
            h1
              .medium-text You're at a party of 
              .big-text CELEBRITY IMPERSONATORS
            //-h1(v-else-if="my.round < 3")
              .medium-text You're getting to
              .big-text know people
            //-h1(v-else-if="my.round < 6")
              .medium-text People at this party think
              //-.big-text {{peopleThink}}
          .question-wrapper
            form(@submit.prevent="checkName()" :disabled="guess.length < 4")
              label(for="guess") Who is this supposed to be?
              input(type="text" v-model="guess" placeholder="Type your guess here" v-focus name="guess")
              button(type="submit" :disabled="guess.length < 4" ) Guess!
        
        .inner.feedback(v-if="phase == 'answer'")


          h2(v-bind:class="feedback.headlineClass" v-text="feedback.headline")

          .answer-feedback(v-if="feedback.showAnswerMessage")
            p(v-html="feedback.answerMessage")
          
          .mood-feedback(v-if="feedback.showMoodMessage" :class="my.mood")
            p(v-html="feedback.moodMessage")
            p(v-if="my.mood == 'veryBad'") You are in danger of being kicked out of the party.

          .cheese-feedback(v-if="feedback.showCheeseMessage")
            p(v-html="feedback.cheeseMessage")

          .button-holder
            button.keep-mingling(@click="nextRound()" v-focus) Keep Mingling






    include partials/_javascripts.pug