- var testing = true
- var siteTitle = "impersonators"
- var siteURL = ""
- var fPlusURL = false
- var description = ""
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    main#app
      figure.celebrity-photo(:style=" { backgroundImage: 'url('+current.pic+')' } ")
        //-img(:src="current.pic")
      figcaption

        .inner.question(v-if="phase == 'question'")
          .status
            h1(v-if="my.round < 1")
              .medium-text You're at a party of 
              .big-text CELEBRITY IMPERSONATORS
            h1(v-else-if="my.round < 3")
              .medium-text You're getting to
              .big-text know people
            h1(v-else-if="my.round < 6")
              .medium-text People at this party think
              .big-text {{peopleThink}}
          .question-wrapper
            h2 Who is this supposed to be?
            form(@submit.prevent="checkName()" :disabled="guess.length < 4")
              input(type="text" v-model="guess" placeholder="Type your guess here" v-focus)
              button(type="submit" :disabled="guess.length < 4" ) Guess!
        
        .inner.feedback(v-if="phase == 'answer'")
          .correct-answer(v-if="answer == 'correct'")
            h1.correct {{feedback.headline}}
            p {{feedback.message}}
          .close-answer(v-if="answer == 'close'")
            h1.close {{feedback.headline}}
            p {{feedback.message}}
          .wrong-answer(v-if="answer == 'wrong'")
            h1.wrong {{feedback.headline}}
            p {{feedback.message}}
          .button-holder
            button.keep-mingling(@click="nextRound()" v-focus) Keep Mingling






    include partials/_javascripts.pug